<div class="github">

  <div class="github-navbar">
    <div class="issues-tab">
      <a href="#" class="tab-underlined active"><%= "issues".upcase %></a>
      <i id="issues-arrow" class="fas fa-sort-up"></i>
    </div>
    <div class="pull-requests-tab">
      <a href="#" class="tab-underlined"><%= "pull requests".upcase %></a>
      <i id="pull-requests-arrow" class="fas fa-sort-up"></i>
    </div>
  </div>

  <%= 10.times do |issuecards| %>
    <div class="github-issue-card">
      <p id="issue-repo">Repo: GoogleChrome/myrepo</p>
      <p id="issue-number">Issue #: <%= rand(0..2000) %></p>
      <p id="issue-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  <% end %>

  <%= 5.times do |prcards| %>
    <div class="github-pull-request-card">
      <p id="issue-repo">Repo: GoogleChrome/team_project_repo</p>
      <p id="issue-number">Pull request #: <%= rand(0..2000) %></p>
      <p id="issue-description">You got a pull resquest from your team member.</p>
    </div>
  <% end %>
</div>
