<div class="left-navbar">

<div class="settings">
  <div class="square-settings">
    <i class="fas fa-wrench"></i>
  </div>
  <p><%="settings".upcase %></p>
</div>

<div class="gists">
  <div class="square-gists">
    <i class="fas fa-code"></i>
  </div>
  <p><%="gists".upcase %></p>
</div>

<div class="stackoverflow">
  <div class="square-stackoverflow">
    <i class="fab fa-stack-overflow"></i>
  </div>
  <p><%="stackflow".upcase %></p>
</div>

<div class="trending">
  <div class="square-trending">
    <i class="fas fa-chart-line"></i>
  </div>
  <p><%="trending".upcase %></p>
</div>

<div class="scratchpad">
  <div class="square-scratchpad">
    <i class="fas fa-pencil-alt"></i>
  </div>
  <p><%="scratchpad".upcase %></p>
</div>

<div class="playground">
  <div class="square-playground">
    <i class="far fa-lightbulb"></i>
  </div>
  <p><%="playground".upcase %></p>
</div>

<div class="help">
  <div class="square-help">
    <i class="fas fa-question"></i>
  </div>
  <p><%="help / intro".upcase %></p>
</div>

<div class="bottom-left-navbar">

  <div class="initab-logo">
      <img src="https://initab.com/assets/images/initab_logo_white.png" width="60%" height="60%" alt="Initab-Logo">
  </div>

  <div class="social-icons">
    <div class="facebook-circle">
      <i class="fab fa-facebook-f"></i>
    </div>

    <div class="linkedin-circle">
      <i class="fab fa-linkedin-in"></i>
    </div>

    <div class="twitter-circle">
      <i class="fab fa-twitter"></i>
    </div>

    <div class="reddit-circle">
      <i class="fab fa-reddit-alien"></i>
    </div>
  </div>

</div>

</div>
