
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Import style.scss -->
    <link rel="stylesheet" href="style.scss">

    <!-- Import fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

   <title>Document</title>
 </head>
 <body>
  <div class="grid-container">

    <%= render "shared/top-navbar" %>

    <%= render "shared/left-navbar" %>

    <%= render "shared/reddit" %>

    <%= render "shared/js" %>

    <%= render "shared/hour" %>

    <%= render "shared/github" %>



<script>

// document.addEventListener('DOMContentLoaded', function () {
  const toggleTab = () => {
// get the github-issue-card divs
  const issueCards = document.querySelectorAll('.github-issue-card');

// get the github-pull-request divs
  const pullRequestsCards = document.querySelectorAll('.github-pull-request-card');

// get the pull-requests tab
  const pullRequestsTab = document.querySelector('.pull-requests-tab');

  if (pullRequestsTab) {
    pullRequestsTab.addEventListener('click', function(){
      document.querySelectorAll('.github-issue-card').forEach((card) => {
          card.style.display = 'none';
      });
      document.querySelectorAll('.github-pull-request-card').forEach((card) => {
        card.style.display = 'block';
      })
  });
};
};
toggleTab();
// })

</script>

  </div>




  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
 </html>
