
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Import style.scss -->
<!--     <link rel="stylesheet" href="style.scss">
 -->
    <link rel="stylesheet" src="style.scss">


    <!-- Import fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Import fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Nunito&display=swap" rel="stylesheet">

   <title>Document</title>
 </head>
 <body>
  <script>
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'Messenger'));

          window.extAsyncInit = function () {
            // SDK loaded, code to follow
          };
        </script>

        <script>
          document.getElementById('submitButton').addEventListener('click', function () {
            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("Webview closing");
            }, function error(err) {
                console.log(err);
            });
          });
        </script>

  <div class="grid-container">

    <%= render "shared/top-navbar" %>

    <%= render "shared/left-navbar" %>

    <%= render "shared/reddit" %>

    <%= render "shared/js" %>

    <%= render "shared/hour" %>

    <%= render "shared/github" %>



<script>

// document.addEventListener('DOMContentLoaded', function () {
const toggleTab = () => {
  // get the github-pull-request cards
  const pullRequestsCards = document.querySelectorAll('.github-pull-request-card');

  // get the github-issue-cards
  const issueCards = document.querySelectorAll('.github-issue-card');

  // get the pull-requests tab
  const pullRequestsTab = document.querySelector('.pull-requests-tab');

  // get the issues-tab arrow
  const pullRequestsTabArrow = document.querySelector('#pull-requests-arrow')

  // get the issues-tab
  const issuesTab = document.querySelector('.issues-tab')

  // get the issues-tab arrow
  const issuesTabArrow = document.querySelector('#issues-arrow')

  if (pullRequestsTab) {
    pullRequestsTab.addEventListener('click', function(){
      issueCards.forEach((card) => {
        card.style.display = 'none';
      });

      pullRequestsTabArrow.style.display = 'block';

      pullRequestsCards.forEach((card) => {
        card.style.display = 'block';
       })
      issuesTabArrow.style.display = 'none';
    });
  };

  if (issuesTab) {
    issuesTab.addEventListener('click', function(){
      issueCards.forEach((card) => {
        card.style.display = 'block';
      })
      issuesTabArrow.style.display = 'block'
      pullRequestsCards.forEach((card) => {
        card.style.display = 'none';
      })
      pullRequestsTabArrow.style.display = 'none';
    })
  }
};
toggleTab();


</script>

  </div>




  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
 </html>
